In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/재무비율 계산 버전/cross_check/기업업종 종합/기업명07_09_1.csv',encoding='cp949')
df1.dropna(inplace=True)
df1.reset_index(drop=True,inplace=True)

df1

             회사명  거래소코드     회계년도     통계청 한국표준산업분류 10차(대분류)
0      (주)21세기조선  40736  2006/12                       제조업
1          (주)3Z  12815  2006/12                       제조업
2     (주)DCFTREK  17676  2006/12                       제조업
3       (주)DH케미칼  40581  2006/12                       제조업
4         (주)ENS  30661  2006/12                       제조업
...          ...    ...      ...                       ...
2831        미래생활  13301  2006/12                  도매 및 소매업
2832   미래신용정보(주)  23610  2006/12  사업시설 관리, 사업 지원 및 임대 서비스업
2833   미래알에이씨(주)  40011  2006/12                       건설업
2834    미래애셋주식회사  40240  2006/12                      부동산업
2835    미래엔서해에너지  40722  2006/12     전기, 가스, 증기 및 공기조절 공급업

[2836 rows x 4 columns]

In [3]:
df2 = pd.read_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/재무비율 계산 버전/cross_check/기업업종 종합/기업명07_09_2.csv',encoding='cp949')
df2.dropna(inplace=True)
df2.reset_index(drop=True,inplace=True)

df2

                회사명  거래소코드     회계년도 통계청 한국표준산업분류 10차(대분류)
0          (주)미래테크빌  44629  2006/12                  부동산업
1          (주)미래테크윈  39534  2006/12                   제조업
2          (주)미래페이퍼  14639  2006/12                   제조업
3         (주)미래홈이엔씨  39841  2006/12                  부동산업
4          (주)미르시스템  47449  2006/12                   제조업
...             ...    ...      ...                   ...
2792  에이치디씨아이파크몰(주)  20369  2006/12                  부동산업
2793    에이치디씨영창주식회사  40503  2006/12                   제조업
2794      에이치디엑스(주)  41326  2006/12              도매 및 소매업
2795   에이치디종합개발주식회사  41033  2006/12                  부동산업
2796     에이치비스틸주식회사  45892  2006/12                   제조업

[2797 rows x 4 columns]

In [4]:
df3 = pd.read_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/재무비율 계산 버전/cross_check/기업업종 종합/기업명07_09_3.csv',encoding='cp949')
df3.dropna(inplace=True)
df3.reset_index(drop=True,inplace=True)

df3

                 회사명  거래소코드     회계년도 통계청 한국표준산업분류 10차(대분류)
0          (유)유맥에프앤알  14534  2006/12                  부동산업
1           (주)에이치비콥  39765  2006/12              도매 및 소매업
2           (주)에이치시티  43465  2006/12      전문, 과학 및 기술 서비스업
3         (주)에이치씨글로벌  47184  2006/12                   제조업
4       (주)에이치씨보광레미콘  29881  2006/12                   제조업
...              ...    ...      ...                   ...
2781  주식회사삼우씨엠건축사사무소  17953  2006/12      전문, 과학 및 기술 서비스업
2782      주식회사삼우에프앤지  15113  2006/12              운수 및 창고업
2783      주식회사삼우주택건설  41101  2006/12                   건설업
2784       주식회사삼우코리아  17952  2006/12                   제조업
2785       주식회사삼우플랜트  46442  2006/12                   제조업

[2786 rows x 4 columns]

In [5]:
df4 = pd.read_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/재무비율 계산 버전/cross_check/기업업종 종합/기업명07_09_4.csv',encoding='cp949')
df4.dropna(inplace=True)
df4.reset_index(drop=True,inplace=True)

df4

                회사명  거래소코드     회계년도     통계청 한국표준산업분류 10차(대분류)
0     (유)짐머바이오메트코리아  18711  2006/12                  도매 및 소매업
1         (유)케이원에너지  47069  2006/12                  도매 및 소매업
2           (주)주암테크  30292  2006/12                       제조업
3         (주)주영아이엔씨  41242  2006/12  사업시설 관리, 사업 지원 및 임대 서비스업
4             (주)주원  44228  2006/12                       제조업
...             ...    ...      ...                       ...
2778        탱크테크(주)  44424  2006/12                       제조업
2779         테라셈(주)  29818  2006/12                       제조업
2780     테라코코리아주식회사  19463  2006/12                       제조업
2781     테크노빌리지주식회사  41916  2006/12                       건설업
2782       테크밸리주식회사  11153  2006/12                       제조업

[2783 rows x 4 columns]

In [6]:
df5 = pd.read_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/재무비율 계산 버전/cross_check/기업업종 종합/기업명07_09_5.csv',encoding='cp949')
df5.dropna(inplace=True)
df5.reset_index(drop=True,inplace=True)

df5

              회사명  거래소코드     회계년도 통계청 한국표준산업분류 10차(대분류)
0        (유)포리코리아  38721  2006/12                   제조업
1     (유)프라이그파이스트  46117  2006/12                   제조업
2     (주)텍스랜드앤넥스코  41691  2006/12                   제조업
3        (주)텐커뮤니티  11001  2006/12                 정보통신업
4         (주)텔레트론  18631  2006/12                   제조업
...           ...    ...      ...                   ...
1543      희창냉장(주)  20563  2006/12              운수 및 창고업
1544     희창물산주식회사  20564  2006/12              도매 및 소매업
1545  희훈아티퍼니처주식회사  20565  2006/12                   제조업
1546   희훈종합건설주식회사  20566  2006/12                   건설업
1547    힐티코리아주식회사  10534  2006/12              도매 및 소매업

[1548 rows x 4 columns]

In [7]:
import numpy as np

df_w = pd.concat([df1,df2,df3,df4,df5],axis=0)
df_w.reset_index(inplace=True,drop=True)
df_w.rename(columns={'회사명':'구분'},inplace=True)
df_w.rename(columns={'통계청 한국표준산업분류 10차(대분류)':'업종'},inplace=True)
df_w.set_index('구분',inplace=True)
df_w = df_w['업종']
df_w
# len(np.unique(df_w.index))

구분
(주)21세기조선           제조업
(주)3Z               제조업
(주)DCFTREK          제조업
(주)DH케미칼            제조업
(주)ENS              제조업
                 ...
희창냉장(주)        운수 및 창고업
희창물산주식회사       도매 및 소매업
희훈아티퍼니처주식회사         제조업
희훈종합건설주식회사          건설업
힐티코리아주식회사      도매 및 소매업
Name: 업종, Length: 12750, dtype: object

In [8]:
df13 = pd.read_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/재무비율 계산 버전/땡처리 삭제/충격기간/07_09_이자.csv',encoding='cp949')
df13.set_index('구분',inplace=True)
df13 = df13.join(df_w,how='left')
df13['업종'][df13['업종'] != '제조업'] = 1
df13['업종'][df13['업종'] == '제조업'] = 0
ind = df13['업종']
df13.drop('업종',axis=1,inplace=True)
df13.insert(loc=31,column='업종',value=ind)
df13
# 비제조업 1, 제조업 0
# df13.to_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/재무비율 계산 버전/cross_check/기업재무비율_업종포함/더미화/충격기간/07_09_이자(업종더미).csv',encoding='cp949')
# 업종 추가 결과 데이터 숫자가 더 늘어나게 되는데
# 특정 기업이 여러 업종에서 사업을 진행할 경우 
# 해당 업종별로 개별 데이터로 취급하기 때문이다.

C:\Users\LG\AppData\Local\Temp\ipykernel_19396\1992113547.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df13['업종'][df13['업종'] != '제조업'] = 1
C:\Users\LG\AppData\Local\Temp\ipykernel_19396\1992113547.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df13['업종'][df13['업종'] == '제조업'] = 0

,총자산증가율2009,유동자산증가율2009,매출액증가율2009,매출액순이익률2009,매출총이익률2009,자기자본순이익률2009,총자산순이익률2009,매출원가대매출액비율2009,매출액대판매관리비2009,매출채권회전율2009,...,부채/현금흐름2009,유동부채/부채2009,총부채/총자산2009,유동부채/총부채2009,유동자산/총자산2009,현금흐름/매출액2009,이자보상배율2009,차입금평균금리2009,업종,정상기업여부
구분,,,,,,,,,,,,,,,,,,,,,
(유)케이원에너지,0.155333,0.101281,0.080878,0.002974,0.029274,0.098473,0.011329,0.970726,0.024779,9.459586,...,-18.091773,1.825972,0.884956,0.822765,0.548244,-0.005787,0.513342,7.98,1,0
(주)TSR,0.123653,0.497815,0.141036,0.043038,0.185938,0.104271,0.034050,0.814062,0.092788,3.490088,...,16.575815,1.259901,0.673445,0.849049,0.480699,0.034606,2.348106,6.43,0,1
(주)TS푸드앤시스템,0.246869,-0.082514,0.229239,0.009565,0.222332,0.054002,0.015964,0.777668,0.194101,5.188933,...,-134.634803,1.732002,0.704373,0.819527,0.411122,-0.001483,1.750546,7.09,1,1
(주)강원엘피씨,0.032431,0.113394,1.092562,0.011937,0.045096,0.171528,0.050578,0.954904,0.033300,19.397509,...,-189.534738,0.715536,0.705131,0.459123,0.512652,-0.000563,2.218042,3.96,0,1
(주)경인일보,-0.026340,-0.082369,0.004144,-0.044152,0.358529,-0.065238,-0.037466,0.641471,0.400956,3.786620,...,314.605313,1.267169,0.425700,0.618639,0.226112,0.000778,-1.915069,8.99,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
후성산업(주),0.104133,0.550115,0.044713,0.014565,0.135218,0.278640,0.028378,0.864782,0.121574,10.856580,...,33.188032,3.054223,0.898154,0.975755,0.285094,0.004438,1.334453,6.69,0,1
휘닉스중앙제주주식회사,-0.386802,-0.248808,1.090550,-0.678275,1.000000,-0.991614,-0.071768,0.000000,1.260896,28.366730,...,-71.959928,1.426695,0.927625,0.641655,0.018562,-0.054793,-0.747885,7.65,1,0
휘닉스중앙주식회사,-0.022970,-0.066578,0.043964,-0.222153,0.896153,-0.174479,-0.034112,0.103847,0.877691,14.314214,...,-720.527769,1.610280,0.804492,0.356805,0.082580,-0.001611,0.144721,7.56,1,0
흥안운수주식회사,0.077581,0.111665,0.039009,0.080801,0.143657,0.103024,0.055568,0.856343,0.082501,18.841723,...,-977.615819,1.358897,0.460629,0.812163,0.163350,-0.000409,2.037161,8.37,1,1
희성건설(주),0.058491,0.097048,-0.103534,-0.159364,0.212635,-0.492640,-0.076086,0.787365,0.268882,0.694196,...,11.044817,4.032270,0.845555,0.982696,0.904600,0.039079,-1.483122,8.34,1,0

In [10]:
df13 = pd.read_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/재무비율 계산 버전/땡처리 삭제/충격기간/07_09_영손.csv',encoding='cp949')
df13.set_index('구분',inplace=True)
df13 = df13.join(df_w,how='left')
df13['업종'][df13['업종'] != '제조업'] = 1
df13['업종'][df13['업종'] == '제조업'] = 0
ind = df13['업종']
df13.drop('업종',axis=1,inplace=True)
df13.insert(loc=31,column='업종',value=ind)
df13
# 비제조업 1, 제조업 0
df13.to_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/재무비율 계산 버전/cross_check/기업재무비율_업종포함/더미화/충격기간/07_09_영손(업종더미).csv',encoding='cp949')
# 업종 추가 결과 데이터 숫자가 더 늘어나게 되는데
# 특정 기업이 여러 업종에서 사업을 진행할 경우 
# 해당 업종별로 개별 데이터로 취급하기 때문이다.

C:\Users\LG\AppData\Local\Temp\ipykernel_19396\3093429433.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df13['업종'][df13['업종'] != '제조업'] = 1
C:\Users\LG\AppData\Local\Temp\ipykernel_19396\3093429433.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df13['업종'][df13['업종'] == '제조업'] = 0