# 업종 추출 주피터 파일 #

### make_fin 모듈로 만들어진 기본 데이터 세트에 대해서 업종에 해당하는 더미 변수 열을 추가한 파일 ###
### 해당 파일은 2000~2002년 데이터를 기반으로 작성되었다. ###

In [13]:
import pandas as pd

In [14]:
df1 = pd.read_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/최종데이터종합/기업업종 종합/기업명00_02_1.csv',encoding='cp949')
df1.dropna(inplace=True)
df1.reset_index(drop=True,inplace=True)

df1

                   회사명  거래소코드     회계년도 통계청 한국표준산업분류 10차(대분류)
0           (주)DCFTREK  17676  2000/12                   제조업
1               (주)KHE  27325  2000/12                   제조업
2               (주)KTE  26849  2000/12                   제조업
3           (주)MBC아카데미  20587  2000/12               교육 서비스업
4            (주)MBC애드컴  20588  2000/12      전문, 과학 및 기술 서비스업
...                ...    ...      ...                   ...
2524        엘지디스플레이(주)  10006  2000/12                   제조업
2525  엘지아이비엠퍼스널컴퓨터주식회사  16446  2000/12              도매 및 소매업
2526         엘지유니참주식회사  16897  2000/12                   제조업
2527          엘지이노텍(주)  10193  2000/12                   제조업
2528      엘지폴리카보네이트(주)  16443  2000/12                   제조업

[2529 rows x 4 columns]

In [15]:
df2 = pd.read_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/최종데이터종합/기업업종 종합/기업명00_02_2.csv',encoding='cp949')
df2.dropna(inplace=True)
df2.reset_index(drop=True,inplace=True)

df2

                    회사명  거래소코드     회계년도     통계청 한국표준산업분류 10차(대분류)
0             (유)유맥에프앤알  14534  2000/12                      부동산업
1         (유)짐머바이오메트코리아  18711  2000/12                  도매 및 소매업
2                (주)엘케이  16453  2000/12                       제조업
3              (주)엠.피.씨  11889  2000/12  사업시설 관리, 사업 지원 및 임대 서비스업
4              (주)엠비씨경남  14519  2000/12                     정보통신업
...                 ...    ...      ...                       ...
2747         프라다코리아유한회사  19616  2000/12                  도매 및 소매업
2748           프라임개발(주)  10071  2000/12                       건설업
2749          프라임포텍주식회사  11762  2000/12                       제조업
2750     프레지니우스카비코리아(주)  10202  2000/12                  도매 및 소매업
2751  프렉스에어서피스테크놀로지스(주)  19625  2000/12                       제조업

[2752 rows x 4 columns]

In [16]:
df3 = pd.read_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/최종데이터종합/기업업종 종합/기업명00_02_3.csv',encoding='cp949')
df3.dropna(inplace=True)
df3.reset_index(drop=True,inplace=True)

df3

             회사명  거래소코드     회계년도 통계청 한국표준산업분류 10차(대분류)
0    (유)한국비엠에스제약  18712  2000/12              도매 및 소매업
1         (주)프리챌  12324  2000/12                 정보통신업
2       (주)플럼디자인  11386  2000/12      전문, 과학 및 기술 서비스업
3      (주)피.디.에이  10783  2000/12                   제조업
4    (주)피더블유제네틱스  17562  2000/12                 정보통신업
..           ...    ...      ...                   ...
614     희성촉매주식회사  20560  2000/12                   제조업
615     희창물산주식회사  20564  2000/12              도매 및 소매업
616  희훈아티퍼니처주식회사  20565  2000/12                   제조업
617   희훈종합건설주식회사  20566  2000/12                   건설업
618    힐티코리아주식회사  10534  2000/12              도매 및 소매업

[619 rows x 4 columns]

In [17]:
import numpy as np

df_w = pd.concat([df1,df2,df3],axis=0)
df_w.reset_index(inplace=True,drop=True)
df_w.rename(columns={'회사명':'구분'},inplace=True)
df_w.rename(columns={'통계청 한국표준산업분류 10차(대분류)':'업종'},inplace=True)
df_w.set_index('구분',inplace=True)
df_w = df_w['업종']
df_w
# len(np.unique(df_w.index))

구분
(주)DCFTREK                  제조업
(주)KHE                      제조업
(주)KTE                      제조업
(주)MBC아카데미              교육 서비스업
(주)MBC애드컴      전문, 과학 및 기술 서비스업
                     ...
희성촉매주식회사                    제조업
희창물산주식회사               도매 및 소매업
희훈아티퍼니처주식회사                 제조업
희훈종합건설주식회사                  건설업
힐티코리아주식회사              도매 및 소매업
Name: 업종, Length: 5900, dtype: object

In [18]:
df13 = pd.read_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/최종데이터종합/재무비율(더미전)/충격기간/00_02_이자.csv',encoding='cp949')
df13.set_index('구분',inplace=True)
df13 = df13.join(df_w,how='left')
df13['업종'][df13['업종'] != '제조업'] = 1
df13['업종'][df13['업종'] == '제조업'] = 0
ind = df13['업종']
df13.drop('업종',axis=1,inplace=True)
df13.insert(loc=27,column='업종',value=ind)
df13
# 비제조업 1, 제조업 0
df13.to_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/최종데이터종합/재무비율(업종추가)/충격기간/00_02_이자(업종더미).csv',encoding='cp949')
# df13.to_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/재무비율 계산 버전/cross_check/기업재무비율_업종포함/충격기간/00_02_이자(업종포함).csv',encoding='cp949')
# 업종 추가 결과 데이터 숫자가 더 늘어나게 되는데
# 특정 기업이 여러 업종에서 사업을 진행할 경우 
# 해당 업종별로 개별 데이터로 취급하기 때문이다.

C:\Users\LG\AppData\Local\Temp\ipykernel_10772\2913331561.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df13['업종'][df13['업종'] != '제조업'] = 1
C:\Users\LG\AppData\Local\Temp\ipykernel_10772\2913331561.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df13['업종'][df13['업종'] == '제조업'] = 0

In [19]:
df13 = pd.read_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/최종데이터종합/재무비율(더미전)/충격기간/00_02_영손.csv',encoding='cp949')
df13.set_index('구분',inplace=True)
df13 = df13.join(df_w,how='left')
df13['업종'][df13['업종'] != '제조업'] = 1
df13['업종'][df13['업종'] == '제조업'] = 0
ind = df13['업종']
df13.drop('업종',axis=1,inplace=True)
df13.insert(loc=27,column='업종',value=ind)
df13
# 비제조업 1, 제조업 0
df13.to_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/최종데이터종합/재무비율(업종추가)/충격기간/00_02_영손(업종더미).csv',encoding='cp949')
# df13.to_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/재무비율 계산 버전/cross_check/기업재무비율_업종포함/충격기간/00_02_영손(업종포함).csv',encoding='cp949')
# 업종 추가 결과 데이터 숫자가 더 늘어나게 되는데
# 특정 기업이 여러 업종에서 사업을 진행할 경우 
# 해당 업종별로 개별 데이터로 취급하기 때문이다.

C:\Users\LG\AppData\Local\Temp\ipykernel_10772\3509280857.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df13['업종'][df13['업종'] != '제조업'] = 1
C:\Users\LG\AppData\Local\Temp\ipykernel_10772\3509280857.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df13['업종'][df13['업종'] == '제조업'] = 0